body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #a8e063, #56ab2f); /* Dégradé de vert frais */
    margin: 0;
    padding: 20px;
    color: #333;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    font-size: 2.5em;
    color: white; /* Gros titre en blanc */
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Légère ombre pour lisibilité */
}

.question {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333; /* Texte des questions en gris foncé */
}

.options {
    margin: 20px 0;
}

label {
    display: block;
    margin: 10px 0;
    font-weight: 500;
    cursor: pointer;
    padding: 12px;
    border-radius: 8px;
    transition: transform 0.2s, background-color 0.3s;
    background-color: #e8f5e9; /* Fond vert clair pour les options */
    color: #2e7d32; /* Texte vert foncé pour les options */
}

label:hover {
    background-color: #c8e6c9; /* Couleur légèrement plus prononcée au survol */
    transform: scale(1.05);
}

input[type="radio"] {
    margin-right: 10px;
}

button {
    width: 100%;
    background-color: white; /* Bouton blanc pour contraste */
    color: #2e7d32; /* Texte vert foncé */
    border: 2px solid #2e7d32; /* Bordure vert foncé */
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s, box-shadow 0.2s;
}

button:hover {
    background-color: #e0f2f1; /* Fond légèrement coloré au survol */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1); /* Effet d'ombre pour donner du relief */
}

/* Style pour les banderoles d'informations */
.banner-info {
    background-color: #e8f5e9; /* Vert pastel doux */
    color: #2e7d32; /* Texte vert foncé */
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 1px solid #81c784; /* Bordure vert plus prononcé */
    text-align: center;
}

/* Style pour les banderoles d'avertissement (vert foncé) */
.banner-warning {
    background-color: #c8e6c9; /* Vert plus doux pour avertissements */
    color: #2e7d32; /* Texte vert foncé */
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 1px solid #4caf50; /* Bordure vert plus prononcé */
    text-align: center;
}

.result {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #2e7d32; /* Bordure vert foncé */
    background-color: #e8f5e9; /* Fond vert très clair pour résultats */
    border-radius: 5px;
    text-align: center;
    display: none; /* Masqué par défaut */
}

.hidden {
    display: none;
}

.show {
    display: block;
}
